@import "../../../node_modules/bootstrap/scss/bootstrap";

.register {
  //@extend .col-lg;
  @extend .col-6;
  @extend .col-md-3;
  @extend .p-2;
  .container {
    @extend .border;
    @extend .border-primary;
    //@extend .bg-secondary;
    @extend .rounded-lg;
    .regHeading {
      @extend .bg-primary;
      @extend .rounded-top;
      @extend .text-white;
    }
    .regFooter {
      @extend .pb-2;
    }
  }

}

.currStep {
  @extend .bg-primary;
  @extend .text-white;
}

th {
  word-break:break-all;
  font-size: 0.5rem;
}

@include media-breakpoint-up(sm) {
  th {
    word-break:break-all;
    font-size: 0.8rem;
  }
}



