<!DOCTYPE html>
<html lang="en" class="h-100">
<head>
    <meta charset="UTF-8">
    <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" type="text/css" href="https://cdn.materialdesignicons.com/4.5.95/css/materialdesignicons.min.css">
    <link rel="stylesheet" type="text/css" href="../../static/register_machine/register_machine.css">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="../../static/register_machine/src/register_machine.js" type="module"></script>
    <title>Reggie - Tutorial</title>
</head>
<body class="h-100">
    <div class="container-fluid h-100" id="app">
        <ul class="nav nav-pills nav-stacked">
            <li><a href="#lightbox" data-toggle="modal">Tutorial</a></li>
            <li><a href="#lightbox" data-toggle="modal" data-slide-to="1">2nd Image</a></li>
            <li><a href="#lightbox" data-toggle="modal" data-slide-to="2">3rd Image</a></li>
            <li><a href="#lightbox" data-toggle="modal" data-slide-to="15">Open non existing Image</a></li>
        </ul>

        <div class="modal fade carousel slide h-100" id="lightbox" data-interval="false">
            <div class="modal-dialog h-75 modal-xl">
                <div class="modal-content h-100">
                    <div class="modal-body">
                        <ol class="carousel-indicators">
                            <li data-target="#lightbox" data-slide-to="0" class="active"></li>
                            <li data-target="#lightbox" data-slide-to="1"></li>
                            <li data-target="#lightbox" data-slide-to="2"></li>
                        </ol>
                        <div>
                            <a class="carousel-control-prev" href="#lightbox" role="button"
                                              data-slide="prev">
                                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                <span class="sr-only">Previous</span>
                            </a>
                        </div>
                            <div class="carousel-inner" >
                                <tutorial-page :is-active="true">
                                    <span slot="header">Register machine</span>
                                    <div slot="content">
                                        <p>This site gives you a series of challenges to solve using a register
                                                machine, a kind of idealised computer. This is a useful tool to explore how computers work.
                                                But first, let's look at what makes up a register machine.</p>
                                            <p>This content is based on Daniel Dennett's description of the register
                                                machine in <a href="https://www.goodreads.com/en/book/show/18378002-intuition-pumps-and-other-tools-for-thinking">
                                                    Intuition Pumps and Other Tools for Thinking</a>.</p>
                                    </div>
                                </tutorial-page>
                                <tutorial-page>
                                    <span slot="header">Registers</span>
                                    <div slot="content">
                                        <p>Register machines have a number of registers. Registers act as memory
                                            for the machine. They can store positive whole numbers (0, 1, 2, ...), and
                                            each has a unique identifier (Register 1, Register 2, ...).</p>
                                        <p>You can think of a register as a bucket into which you can place
                                            buttons, with the value of the register being the number of buttons in the bucket.
                                        </p>
                                        <p>Here are two registers.  Try changing the values.</p>
                                        <div class="container">
                                            <div class="row justify-content-center">
                                                    <register :reg-id="1" :reg-value="3"></register>
                                                    <register :reg-id="2" :reg-value="4"></register>
                                            </div>
                                        </div>
                                    </div>
                                </tutorial-page>
                                <tutorial-page>
                                    <span slot="header">Testing</span>
                                    <p slot="content">testing 1 2 3</p>
                                </tutorial-page>
                            </div><!-- /.carousel-inner -->

                            <div>
                                <a class="carousel-control-next" href="#lightbox" role="button"
                                                  data-slide="next">
                                    <span class="carousel-control-next-icon text-dark" aria-hidden="true"></span>
                                    <span class="sr-only">Next</span>
                                </a>
                            </div>
                        </div>
                    </div><!-- /.modal-body -->
                </div><!-- /.modal-content -->
            </div><!-- /.modal-dialog -->
        </div><!-- /.modal -->
    </div><!-- /.container -->
</body>
</html>