<!DOCTYPE html>
<html lang="en" class="h-100">
<head>
    <meta charset="UTF-8">
    <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" type="text/css" href="https://cdn.materialdesignicons.com/4.5.95/css/materialdesignicons.min.css">
    <link rel="stylesheet" type="text/css" href="../../static/register_machine/register_machine.css">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="https://unpkg.com/vue-router/dist/vue-router.js"></script>
    <script src="../../static/register_machine/src/register_machine.js" type="module"></script>
    <title>Reggie - Tutorial</title>
</head>
<body class="h-100">
    <div class="d-flex container-fluid h-100 flex-column" id="app">
        <div class="row">
            <ul class="nav nav-pills nav-stacked">
                <li><a href="#lightbox" data-toggle="modal">Tutorial</a></li>
                <li><a href="#lightbox" data-toggle="modal" data-slide-to="1">2nd Image</a></li>
                <li><a href="#lightbox" data-toggle="modal" data-slide-to="2">3rd Image</a></li>
                <li><a href="#lightbox" data-toggle="modal" data-slide-to="15">Open non existing Image</a></li>
            </ul>
        </div>
        <div class="row flex-grow-1">
            <div class="container-fluid carousel slide w-100 h-100" id="lightbox" data-interval="false">
                <ol class="row carousel-indicators align-self-end">
                    <li data-target="#lightbox" data-slide-to="0" class="active"></li>
                    <li data-target="#lightbox" data-slide-to="1"></li>
                    <li data-target="#lightbox" data-slide-to="2"></li>
                    <li data-target="#lightbox" data-slide-to="3"></li>
                    <li data-target="#lightbox" data-slide-to="4"></li>
                    <li data-target="#lightbox" data-slide-to="5"></li>
                    <li data-target="#lightbox" data-slide-to="6"></li>
                    <li data-target="#lightbox" data-slide-to="7"></li>
                    <li data-target="#lightbox" data-slide-to="8"></li>
                </ol>
                <div>
                    <a class="carousel-control-prev" href="#lightbox" role="button"
                       data-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="sr-only">Previous</span>
                    </a>
                </div>
                <div class="row h-100 align-items-center flex-grow-1">
                    <div class="col h-100">
                        <div class="carousel-inner container-fluid h-100">
                            <tutorial-page :is-active="true">
                                <span slot="header">Register machine</span>
                                <div slot="content">
                                    <p>This site gives you a series of challenges to solve using a register
                                        machine, a kind of idealised computer. This is a useful tool to explore how
                                        computers
                                        work.
                                        But first, let's look at what makes up a register machine.</p>
                                    <p>This content is based on Daniel Dennett's description of the register
                                        machine in <a
                                                href="https://www.goodreads.com/en/book/show/18378002-intuition-pumps-and-other-tools-for-thinking">
                                            Intuition Pumps and Other Tools for Thinking</a>.</p>
                                </div>
                            </tutorial-page>
                            <tutorial-page>
                                <span slot="header">Registers</span>
                                <div slot="content">
                                    <p>Register machines have a number of registers, which act as memory
                                        for the machine. They can store whole numbers, and each has a unique ID
                                        (Reg. 1, Reg. 2, ...).</p>
                                    <p>You can think of a register as a bucket into which you can place
                                        buttons, with the value of the register being the number of buttons in the
                                        bucket.
                                    </p>
                                    <p>Here are two registers. Try changing their values.</p>
                                    <div class="container">
                                        <div class="row justify-content-center">
                                            <register :reg-id="1" :reg-value="3"></register>
                                            <register :reg-id="2" :reg-value="4"></register>
                                        </div>
                                    </div>
                                </div>
                            </tutorial-page>
                            <tutorial-page>
                                <span slot="header">Processing Unit</span>
                                <div slot="content">
                                    <p>The register machine also has a processing unit, which is capable of
                                        performing three different instructions. It can only execute one instruction at
                                        a time.</p>
                                </div>
                            </tutorial-page>
                            <tutorial-page>
                                <span slot="header">Program</span>
                                <div slot="content">
                                    <p>A program for the register machine is simply a list of these instructions in a
                                        specific order.  The register machine will execute this instructions,
                                        one-by-one, operating on the values of the registers, to produce some result.
                                    </p>
                                </div>
                            </tutorial-page>
                            <tutorial-page>
                                <span slot="header">Instruction 1: Increment</span>
                                <div slot="content">
                                    <p>The increment instruction adds 1 to the specified register, and then moves to a
                                        specified step in the program (the Go-To step).</p>
                                </div>
                            </tutorial-page>
                            <tutorial-page>
                                <span slot="header">Instruction 2: End</span>
                                <div slot="content">
                                    <p>As you might have guessed, the End instruction halts execution of the register
                                        machine.  Without one of these steps in your program, it will keep the
                                        register machine running forever!</p>
                                </div>
                            </tutorial-page>
                            <tutorial-page>
                                <span slot="header">Instruction 3: Decrement-Branch</span>
                                <div slot="content">
                                    <p>The Decrement-Branch instruction is a bit more involved.  If the specified
                                        register for that instruction contains a value greater than 0, then the
                                        register has its value reduced by 1, and the processing unit moves to the Go-To
                                        step specified.  If the specified register contains the value 0, then the
                                        processing unit moves to the Branch step specified.</p>

                                     <p>While this might seem a bit tricky, this is the most useful step, because it
                                         allows our programs to change behaviour based on the current values of the
                                         registers.  You'll see how this works as you solve the challenges.</p>
                                </div>
                            </tutorial-page>
                            <tutorial-page>
                                <span slot="header">Operating the register machine</span>
                                <div slot="content">
                                    <p>Now that you know what makes up a register machine, let's look at how we can
                                    run our programs</p>
                                    <p>The register machine has three controls:</p>
                                    <ul>
                                        <li>Run (pause): this executes the program until completion, and can be clicked
                                            again to pause execution</li>
                                        <li>Step: this executes the next instruction in the program.  This is useful if
                                            you want to carefully examine the behaviour of the register machine - very
                                            useful for locating bugs!</li>
                                        <li>Reset: this takes the register machine back to the first step</li>
                                    </ul>

                                </div>
                            </tutorial-page>
                        </div><!-- /.carousel-inner -->
                    </div>
                </div>

                <div>
                    <a class="carousel-control-next" href="#lightbox" role="button"
                       data-slide="next">
                        <span class="carousel-control-next-icon text-dark" aria-hidden="true"></span>
                        <span class="sr-only">Next</span>
                    </a>
                </div>
            </div>
        </div>
    </div>
</body>
</html>